.button {
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #555555;
}

.input {
    outline: none !important;
	border-color: #555555;

}

.input:focus {
    outline: none !important;
    /**border:1px solid red;**/
	border-color: #555555;
    box-shadow: 0 0 10px #719ECE;
}